.name { 
    font-family: var(--headings-font-family); 
    font-size: 1.1rem;
}

.links {
    td { 
        vertical-align: top; 
        padding: 0;
    }
    ul { padding-left: .2em; }
    li {
        display: inline-block;
        &::after {
            margin-right: .35em;
            content: "";
        }

        &:last-of-type::after { content: ""; }
    }
}