@import 'variables';

@mixin euler-grid-sizing($cells) {
    // Calculations
    // $margin: .1;
    // $interior: 1 - 2 * $margin;

    // $euler-cell-width: 100% / $cells;
    // $euler-cell-border: 1px;
    // $euler-cell-margin: 1px;
    // $euler-cell-interior: floor($interior * $euler-cell-width);

    // Styling
    // width: $cells * ($euler-cell-interior + 2 * ($euler-cell-border + $euler-cell-margin));
    .euler-grid {
        font-size: 11px;
        width: $cells * 31px;
        font-family: var(--font-monospace);

        div {
            width: 25px;
            height: 25px;
            margin: 3px;
        }
    }

    .euler-grid-cell {
        line-height: 25px;
        border: 1px solid black;
        margin: 2px;
    }
}

// @media all {
//     .euler-grid { 
//         @include euler-grid-sizing(550px, 20) 
//     }
// }

// @each $screen-width, $main-size in $screen-widths {
//     @media all and (max-width: $screen-width) {
//         .euler-grid {
//             @include euler-grid-sizing($main-size * $screen-width, $cells)
//         }
//     }
// }

@media (min-width: 992px) {
    @include euler-grid-sizing(20);
}

@include euler-grid-sizing(10);

@media (max-width: 600px) { 
    @include euler-grid-sizing(5);
}

.euler-grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    .euler-grid-cell {
        transition: transform .5s ease-out;
        background: none;
        text-align: center;

        &:hover, &.active {
            background-color: black;
            color: white;
            cursor: pointer;
        }

        &.active &.euler-code {
            display: block;
        }
    }
}

.window-manager {
    position: absolute;
    top: 0px;
    left: 0px;
}

.window-frame {
    position: absolute;
    vertical-align: -50%;
    width: 0px;
    height: 0px;
    overflow: visible;
}

.window {
    background-color:#ebebeb;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    z-index: 99;

    position: relative;
    transform: translate(-50%, -50%);

    .window-header {
        cursor: -webkit-grab; cursor: grab; cursor: -moz-grab;

        :active, :focus {
            cursor: -moz-grabbing; cursor: -webkit-grabbing; cursor: grabbing; 
        }
    }

    .window-title, .window-buttons { 
        padding: 2px 4px;
    }

    .window-buttons {
        text-align: right;
        height: 1rem;
    }

    .window-body {
        font-size: .8rem;
        padding: 0;
    }
    
    .close-button {
        border: none;
        background: none;
        font-size: 1.1rem;
        padding: 0;

        &:active { outline: none; cursor: auto; }
        &:hover { color: red; }
    }

}

.euler-code {
    background-color: var(--color-white);
    padding-bottom: .2em;

    code { 
        padding-left: 0;
        background-color: inherit; 
    }

    width: 60vw;
    height: 60vh;

    max-height: 800px;
    max-width: 500px;

    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    margin-bottom: 0px;
}