@import 'variables';

@mixin euler-grid-sizing($font-size, $width) {
    $width: 33 * $font-size;
    $font-size: .6 * $font-size;
    $euler-cell-border: 1px;
    $euler-cell-margin: 2px;
    $euler-cell-width: 2 * $font-size;
    $euler-cell-total: $euler-cell-width + 2 * ($euler-cell-border + $euler-cell-margin);

    $cells: $width / $euler-cell-total;
    @if $cells < 10 { $cells: 5; }
    @else if $cells < 20 { $cells: 10; }
    @else { $cells: 20; }

    width: $cells * $euler-cell-total;
    font-size: $font-size;

    div {
        box-sizing: content-box;
        height: $euler-cell-width;
        width: $euler-cell-width;
        margin: $euler-cell-border + $euler-cell-margin;
    }

    .euler-grid-cell {
        line-height: $euler-cell-width;
        border: $euler-cell-border solid black;
        margin: $euler-cell-margin;
    }

}

@media all {
    .euler-grid { @include euler-grid-sizing(20px, 1000px) }
}

@each $screen-width, $font-size in $main-font-sizes {
    @media all and (max-width: $screen-width) {
        .euler-grid {
            @include euler-grid-sizing(($font-size * 5)/6, $screen-width)
        }
    }
}

.euler-grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;


    .euler-grid-cell {
        transition: transform .5s ease-out;
        background: none;
        text-align: center;

        &:hover, &.active {
            z-index: 3;
            background-color: black;
            color: white;
            cursor: pointer;
        }

        &.active &.euler-code {
            display: block;
        }
    }
}

.window-manager {
    position: absolute;
    top: 0px;
    left: 0px;
}

.window-frame {
    position: absolute;
    vertical-align: -50%;
    width: 0px;
    height: 0px;
    overflow: visible;
}

.window {
    background-color:#ebebeb;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    z-index: 99;

    position: relative;
    transform: translate(-50%, -50%);

    .window-header {
        cursor: -webkit-grab; cursor: grab; cursor: -moz-grab;

        :active, :focus {
            cursor: -moz-grabbing; cursor: -webkit-grabbing; cursor: grabbing; 
        }
    }

    .window-title, .window-buttons { 
        padding: 2px 4px;
    }

    .window-buttons {
        text-align: right;
        height: 1rem;
    }

    .window-body {
        font-size: .8rem;
        padding: 0;
    }
    
    .close-button {
        border: none;
        background: none;
        font-size: 1.1rem;
        padding: 0;

        &:active { outline: none; cursor: auto; }
        &:hover { color: red; }
    }

    .euler-code {
        background-color: var(--color-white);
        code { 
            padding-left: 0;
            background-color: inherit; 
        }

        width: 60vw;
        height: 60vh;

        max-height: 800px;
        max-width: 500px;

        border-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        margin-bottom: 0px;
    }
}
