.euler-grid {
    font-size: .75rem;
    top: 30px;
    margin: auto;
    position: relative;
    height: 200px;
    transition: transform .5s ease-out
}

.euler-grid-cell {
    position: absolute;
    border-color: black;
    border-style: solid;
    transition: transform .5s ease-out;
    background: none;
    text-align: center;

    &:hover, &.active {
        z-index: 3;
        background-color: black;
        border-color: black;
        color: white;
        cursor: pointer;
    }

    &.active .euler-code {
        display: block;
    }
}

.window-manager {
    position: relative;
}


.code-window {
    font-size: .75rem;
    position: absolute;
    z-index: 10;
    margin: 0;
    color: black;
    font-family: monospace;
    width: 500px;
    text-align: left;
    overflow: hidden;
    line-height: normal;
    background: white;
    border: 2px lightgrey solid;

    &.active-window {
        .header {
            background-color: blue;
        }
        
        .window-title {
            color: white;
        }
    }

    & .header {
        font-size: 1.5em;
        padding: 2px;
        width: 100%;
        box-sizing: border-box;
        background-color: darkgrey;
        display: flex;
        justify-content: space-between;
        cursor: -webkit-grab; cursor: grab; cursor: -moz-grab;

        &:active, &:focus {
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;     
            cursor: grabbing; 
        }
    }

    & .window-title {
        color: lightgrey;
    }


    & .body {
        max-height: 600px;
        width: 100%;
        overflow-y: scroll;
    }

    & pre {
        font-family: monospace;
        margin: 0;
        padding: 6px 8px 30px;
    }

    & .close-button {
        padding: .1em .4em;
        font-weight: bold;
        background: lightgrey;
        border-width: 2px;
        border-style: solid;
        border-radius: 1px;
        border-color: white black black white;

        &:active, &:focus {
            outline: none;
        }

        &:active {
            border-width: 2px 1px 1px 2px;
            border-color: black white white black; 
            margin-bottom: 1px;
            outline: none;
        }
    }
}