@import url(https://fonts.googleapis.com/css?family=Hind:300,400,600|Noto+Serif:400,400italic,700|Droid+Sans+Mono);

$font-body: Noto Serif, serif;
$font-head: Hind, helvetica;
$font-code: Droid Sans Mono, monospace;
$underline-color: black;

body {
    color: #4d4d4d;
}

.content {
	width: 60%;
	margin: auto;
	font-family: $font-body;
}

section {
    display: none;
}

section.current {
    display: block;
}

h1, h2, h3 {
	font-family: $font-head;
}

header.index-header {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 60px;

	font-size: 24px;
	font-family: $font-head;
    font-weight: 300;

	ul {
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		margin-right: 1rem;
		line-height: 1em;
	}

	li:hover {
		border-bottom: 1px $underline-color solid;
	}

	li.current {
		border-bottom: 1px $underline-color solid;
	}
}

div.index-page {
	display: none;
}

div.index-page.current {
	display: block;
}

.post-container {
	position: absolute;
}

.post {
	font-family: $font-head;
	position: relative;
	margin: 1rem 0 1rem 0;

	* {
		display: inline-block;
		margin: 0;
	}

	a:link {
		color: inherit;
		text-decoration: none;
		border-bottom: 2px grey solid;
		line-height: .95rem;
	}

	a:hover {
		border-bottom: 2px red solid;
	}

	.post-date {
		position: absolute;
		left: -3.5rem;
		font-size: .9rem;
		width: 3rem;
		text-align: right;
		margin-top: .2rem;
	}
}

#about {
    h1 {
        font-size: 2.2rem; 
        line-height: 1.2;
        color: #262626;
    }
    
    p {
        width: 55%;
        line-height: 1.8;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    a {
        text-decoration: none;
        border-bottom: 1px $underline-color solid;
        color: inherit;
    }
}   

#project-euler {
    .solution-container {
        font-size: .75rem;
        width: 52em;
        margin: auto;
        position: relative;
    }
    
    .solution {
        position: absolute;
        transition: transform .5s ease-out;
    }

    .solution.active {
        width: 100%;
    }

    .solution-button {
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border: 1px solid grey;
        margin: 2px;
        user-select: none;
    }

    .solution-button:hover {
        border: .1em solid black;
        cursor: pointer;
    }

    .active .solution-button {
        border: 1px solid red;
        background: red;
        color: white;
    }

    .solution-content {
        font-size: 1.1rem;
        text-align: left;
        position: relative;
        display: none;
    }

    .solution-content.visible {
        display: inline-block;
        padding-bottom: 10px;
        z-index: 3;
    }
}

code {
    /* Atelier-Plateau Comment */
    .hljs-comment,
    .hljs-quote {
      color: #655d5d;
    }

    /* Atelier-Plateau Red */
    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #ca4949;
    }

    /* Atelier-Plateau Orange */
    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #b45a3c;
    }

    /* Atelier-Plateau Green */
    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #4b8b8b;
    }

    /* Atelier-Plateau Blue */
    .hljs-title,
    .hljs-section {
      color: #7272ca;
    }

    /* Atelier-Plateau Purple */
    .hljs-keyword,
    .hljs-selector-tag {
      color: #8464c4;
    }

    .hljs-deletion,
    .hljs-addition {
      color: #1b1818;
      display: inline-block;
      width: 100%;
    }

    .hljs-deletion {
      background-color: #ca4949;
    }

    .hljs-addition {
      background-color: #4b8b8b;
    }

    .hljs {
      display: block;
      overflow-x: auto;
      background: #f4ecec;
      color: #585050;
      padding: 0.5em;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: bold;
    }
}
